<link rel="stylesheet" href="/css/signpages.css">
<h1><%= title%></h1>
<% if(user.id == profile_user.id){%>
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
       <!--if the user matches then show the form-->
       <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="update">
       </form>
<% }else{ %>
    <!--else show the profile info-->
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRfaRyT3Kt3fvV52OBt2h6pLts0t2sDQjs36kQDvO-jn7MhEX9r" width="100">
    <p><%= profile_user.name %></p>
    <!-- <a class="hide-show" data-add="Add" href="/friend/addorremove/?id=<%= profile_user.id%>"> -->
        <!-- add -->
    <!-- </a> -->
    <!-- <button id="adme">ADD</button> -->
    <!-- <div> -->
        <!-- <h4 id="add-text"> -->
            <!-- FriendList -->
        <!-- </h4> -->
        <!-- <li><p id="add-name"> -->
        <!-- </p></li> -->
    <!-- </div> -->
    <%- include('_chattingbox') -%>
<% } %> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script> 
<script>
    new ChatEngine('chat-box','<%= profile_user.email%>','<%= profile_user.name%>')
 </script>      
<script type="text/javascript">
    $(function(){
        $('.hiding').on('click',function(){
            console.log('hiiiii');
             $('hiding p').html('remove');
        });
        $('.hide-show').on('click',function(){
            $('#adme').hmtl('yes');
        });
    })
</script>